[app]
name = Anuvad
version = 1.0
author = Purbayan Chowdhury(chowdhury.purbayan@gmail.com)

[paths]
data_dir = data
export_dir = exports
logo_path = assets/images/icon.ico
logs_dir = logs

[user]
author = Purbayan Chowdhury(chowdhury.purbayan@gmail.com)

[language]
default_source = en
default_target = bn
auto_detect = true
translate_model = google
# login into https://detectlanguage.com/ to get api_key
detect_lang_api_key = 
# login into https://libretranslate.com/ to get api_key
libre_api_key = 
# login into https://azure.microsoft.com/en-us/services/cognitive-services/translator/ to get api_key
msft_api_key =

[ui]
theme = light
language = en
font_family = 'Segoe UI', 'Nirmala UI', sans-serif
font_size = 14

