QWidget {
    background-color: #0b1120;
    color: #e5e7eb;
}

QLabel#title {
    color: #818cf8;
}

/* Buttons */
QPushButton {
    background-color: #1f2937;
    color: #e5e7eb;
    border: 1px solid #374151;
}

QPushButton:hover {
    background-color: #374151;
}

QPushButton:pressed {
    background-color: #4f46e5;
}

/* Inputs */
QTextEdit,
QTableWidget {
    background-color: #111827;
    border: 1px solid #1f2937;
}

QTableWidget::item:selected, 
QListWidget::item:selected {
    background-color: #c7d2fe;
    color: #111827;
}

QTextEdit:focus {
    border: 1px solid #4f46e5;
}

/* Table Header */
QHeaderView::section {
    background-color: #1f2937;
    color: #c7d2fe;
}

/* Menu */
QMenuBar {
    background-color: #111827;
}

QMenuBar::item:selected {
    background: #1f2937;
}

QMenu {
    background-color: #111827;
    border: 1px solid #1f2937;
}

QMenu::item:selected {
    background-color: #4f46e5;
    color: white;
}

/* Scrollbar - Vertical */
QScrollBar:vertical {
    background: #111827;
}

QScrollBar::handle:vertical {
    background: #4f46e5;
    border-radius: 5px;
}

QScrollBar::handle:vertical:hover {
    background: #6366f1;
}

/* Scrollbar - Horizontal */
QScrollBar:horizontal {
    background: #111827;
}

QScrollBar::handle:horizontal {
    background: #4f46e5;
    border-radius: 15px;
}

QScrollBar::handle:horizontal:hover {
    background: #6366f1;
}

/* Combobox */
QComboBox {
    border: 1px solid #374151;
    background-color: #111827;
    color: #e5e7eb;
}

QComboBox:hover {
    border: 1px solid #4338ca;
}

QComboBox QAbstractItemView {
    border: 1px solid #1f2937;
    background: #111827;
    selection-background-color: #4f46e5;
    selection-color: white;
}

#divider QFrame#line {
    background-color: #374151;
    border: none;
    height: 1px;
}

#divider QLabel {
    color: #374151;
    font-weight: bold;
}