QWidget {
    background-color: #f8fafc;
    color: #111827;
}

QLabel#title {
    color: #4f46e5;
}

/* Buttons */
QPushButton {
    background-color: #e5e7eb;
    color: #1f2937;
    border: 1px solid #BFC5CE;
}

QPushButton:hover {
    background-color: #BFC5CE;
}

QPushButton:pressed {
    background-color: #918FF0;
}

/* Inputs */
QTextEdit,
QTableWidget {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
}

QTableWidget::item:selected, 
QListWidget::item:selected {
    background-color: #c7d2fe;
    color: #111827;
}

QTextEdit:focus {
    border: 1px solid #4F46E5;
}

/* Table Header */
QHeaderView::section {
    background-color: #eef2ff;
    color: #3730a3;
    border: none;
}

/* Menu */
QMenuBar {
    background-color: #eef2ff;
}

QMenuBar::item:selected {
    background: #e0e7ff;
}

QMenu {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
}

QMenu::item:selected {
    background-color: #4f46e5;
    color: white;
}

/* Scrollbar - Vertical */
QScrollBar:vertical {
    background: #F1F5F9;
}

QScrollBar::handle:vertical {
    background: #4F46E5;
}

QScrollBar::handle:vertical:hover {
    background: #4338CA;
}

/* Scrollbar - Horizontal */
QScrollBar:horizontal {
    background: #F1F5F9;
}

QScrollBar::handle:horizontal {
    background: #4F46E5;
}

QScrollBar::handle:horizontal:hover {
    background: #4338CA;
}

/* Combobox */
QComboBox {
    border: 1px solid #4F46E5;
    background-color: white;
}

QComboBox:hover {
    border: 1px solid #4338CA;
}

QComboBox QAbstractItemView {
    border: 1px solid #E5E7EB;
    background: white;
    selection-background-color: #4F46E5;
    selection-color: white;
}

#divider QFrame#line {
    background-color: #E5E7EB;
    border: none;
    height: 1px;
}

#divider QLabel {
    color: #ccc;
    font-weight: bold;
}